body {
    color: #fff;
    font-family: helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.25;
    background-color: #1d1d1d;
    margin: 0;
    padding: 0;
}

/* HEADER */
#head {
    text-align: center;
}
#head img {
    display: block;          /* Makes the element a block-level element, occupying the full width and starting on a new line */
    object-fit: cover;       /* Ensures the content (like an image) covers the entire element area while maintaining its aspect ratio */
    border-radius: 0px;      /* Sets the corners of the element to be square (no rounding) */
    width: 100%;             /* Sets the element's width to 100% of its containing element's width */
    height: 30vh;            /* Sets the element's height to 30% of the viewport height */
    opacity: 1;              /* Makes the element fully opaque */
    object-position: center 70.26%;  /* Positions the content within the element, centering it horizontally and aligning it at 70.26% height from the top */
}
#head h1 {
    color: #fff;
    font-family: georgia, 'bitstream vera serif', serif;
    font-size: 3.5em;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1;
    margin: 0;
    padding: 20px 0 8px 0;
}
#head h1 a, #head h1 a:link, #head h1 a:visited, #head h1 a:hover {
    color: #fff;
    text-decoration: none;
}
#head ul {
    font-size: 1.1em;
    font-family: "lucida console", "monaco", "andale mono", "bitstream vera sans mono", "consolas", monospace;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
    padding: 0 40px 0.25em 40px;
}
#head ul li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em 0 0;
}
#head ul a, #head ul a:link, #head ul a:visited {
    color: #fff;
    text-decoration: none;
}
#head ul a:hover {
    color: #fff;
    text-decoration: underline;
}

/* CONTENT */
#content {
    color: #eee;
    max-width: 52em;
    min-width: 27em;
    margin: 7px auto;
    border-top: 2px solid #555;
    padding-top: 10px;
    padding-left: 15px; /* Add padding to the left */
    padding-right: 15px; /* Add padding to the right */
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
    color: #fff;
}
h1 a, h2 a, h3 a {
    color: #fff;
}
h1 {
    font-size: 2em;
    letter-spacing: -1px;
    margin-bottom: 0;
}
h2 {
    font-size: 1.5em;
    letter-spacing: -1px;
    margin: 1.25em 0 -0.32em 0;
}
h3 {
    font-size: 1.1em;
    letter-spacing: -1px;
    margin: 1.8em 0 -0.25em 0;
}
h3 code {
    font-size: 1.1em;
    color: #fff;
}

/* LINKS */
a {
    color: #fff;
    text-decoration: underline;
}
a:hover {
    color: #3E709E;
    text-decoration: underline;
}
a img {
    border: none;
}
a.out {
    background: url('/images/link-out.gif') center right no-repeat;
    padding-right: 12px;
}


/* LIBRARY */
/* REVIEWED */
.bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}
.book-container {
    text-align: center;
}
.book-cover {
    height: 250px;
    width: auto;
    cursor: pointer;
    border-radius: 8px; /* rounded corners */
    border: 2px solid white; /* White margin around the cover */
    box-shadow: 0 0 5px rgba(0,0,0,0.1); /* Optional: subtle shadow for better visualization */
}
.book-title {
    font-size: 1.1em;
    margin-top: 5px;
}
.book-author {
    font-size: 0.9em;
    color: gray;
}

/* CURRENTLY READING (Goodreads) */

.gr_custom_container_1719105719 {
    /* customize your Goodreads widget container here*/
    background-color: transparent;
    width: 50em;
  }
  .gr_custom_header_1719105719 {
    /* hide the Goodreads header */
    display: none;
  }
  .gr_custom_each_container_1719105719 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 0px;
    overflow: auto;
  }
  .gr_custom_book_container_1719105719 {
    /* customize your book covers here */
    overflow: hidden;
    float: left;
    margin-right: 10px;
    }
  .gr_custom_author_1719105719 {
    /* customize your author names here */
    font-size: 0.9em;
    color: gray;
  }
  center {
    /* hide the center element */
    display: none;
  }


  /* READ (Goodreads) */

.gr_grid_container {
    max-width: 60em;
    min-width: 27em;
    display: flex;
    flex-wrap: wrap;
    justify-content: left; /* Center the items horizontally */
    margin: 0 auto; /* Center the container itself */
}

.gr_grid_book_container {
    /* customize book cover container div here */
    width: 98px;
    height: 160px;
    padding: 0px; /* Remove padding */
    overflow: hidden;
}

.gr_grid_book_container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop the image to fit the container */
}


/* CODE */
code, pre, textarea, tt {
    font-family: "lucida console", "monaco", "andale mono", "bitstream vera sans mono", "consolas", monospace;
}
pre {
    font-size: 0.85em;
    background: #444;
    border: 2px solid #555;
    padding: 0.5em;
    line-height: 1.15;
    color: #eee;
}
code, tt {
    font-size: 0.85em;
    color: #ccc;
}
h1 code, h2 code, h3 code, h4 code {
    color: #eee;
}
pre code {
    font-size: 1em;
    color: #ccc;
}

/* MISC */
hr {
    margin: 2em 0;
    padding: 0;
    color: #555;
}

/* HOME */
body#home {
    background: #333;
}
#home #content {
    font-size: 1.05em;
    margin: 20px 0 0 0;
    padding: 0 20px;
    border-width: 0;
}
#home #head, #home #foot {
    display: none;
}
.pipe {
    clear: both;
    padding: 50px 0;
}
.pipe p {
    color: #fff;
    font-size: 62px;
    font-family: 'georgia', 'bitstream vera serif', serif;
    letter-spacing: -3px;
    line-height: 1;
    text-align: right;
    margin: 0em 43% 0 0;
    padding: 0 60px 0 0;
}
.pipe pre {
    float: right;
    background: transparent;
    font-size: 28px;
    margin: 0;
    padding: 5px 0 0 0;
    width: 42%;
    border-width: 0;
}
.pipe pre code {
    color: #666;
    background: transparent;
}
.pipe.shell p {
    font-size: 56px;
}
.pipe.shell pre {
    font-size: 18px;
}
.pipe.nav p {
    font-size: 100px;
    letter-spacing: -6px;
}
.pipe.nav pre {
    font-size: 36px;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.25;
}
.pipe.nav {
    padding: 25px 0 50px 0;
}
.pipe.nav a, .pipe.nav a:link, .pipe.nav a:visited {
    color: #444;
    text-decoration: none;
}
.pipe.nav a:hover {
    color: #fff;
    text-decoration: underline;
}

/* README */
.toc {
    float: right;
    background: #444;
    border: 2px solid #555;
    max-width: 20em;
    padding: 0.5em;
    line-height: 1.15;
    color: #eee;
    margin-left: 2em;
    margin-bottom: -2.5em;
    position: relative;
    top: -3.5em;
    font-size: 0.9em;
}
.toc a {
    text-decoration: none;
}
.toc .level-1 {
    padding-left: 2em;
    font-size: 0.8em;
    position: relative;
    top: -0.1em;
}
.toc .level-2 {
    list-style-type: none;
    font-weight: normal;
    padding-left: 1em;
}
.toc .level-1 > li {
    margin: 0.05em;
}
.toc .level-1 > li a {
    font-weight: bold;
    font-size: 1.25em;
    position: relative;
    top: 0.1em;
}
.toc h2 {
    padding-top: 0;
    margin-top: 0;
}
pre {
    overflow: hidden;
}

/* BLOG POSTS */
div.post {
    margin: 2em 0;
}
div.post h1 a {
    text-decoration: none;
}
div.post h1 a:hover {
    text-decoration: underline;
}
p.meta {
    font-size: 0.8em;
    color: #bbb;
    margin-top: 0;
}

/* ABOUT PAGE */
body#about ul li {
    margin-bottom: 20px;
}
body#about #content strong, body#about #content a {
    font-weight: bold;
}

/* THE BOOK */
#book .maruku_toc {
    margin: 1em 0;
}
#book .maruku_toc ul:first-child {
    padding-left: 0;
}
#book pre {
    overflow: auto;
}
